.wp-block-lez-library-featured-image button.is-button.is-default {
	display: none;
}

.wp-block-lez-library-featured-image button.is-destructive {
	position: absolute;
	right: 5px;
	top: 0;
	width: 44px;

	overflow: hidden;
	text-decoration: none;
	text-indent: -500px;
}

.wp-block-lez-library-featured-image button.is-destructive:after {
	display: block;
	height: 44px;
	width: 44px;

	background-color: #ffffff;
	color: #555d66;
	content: "\f335";
	font-family: dashicons;
	font-size: 32px;
	line-height: 44px;
	text-align: center;
	text-decoration: none;
	text-indent: 0;
}

.wp-block-lez-library-featured-image button.is-destructive:hover:after {
	background-color: #eeeeee;
}

.post-type-post_type_actors .wp-block-lez-library-featured-image {
	float: left;
	width: 350px;
	margin-right: 2rem;
	z-index: 99999;
}

.post-type-post_type_actors .lez-library-align-right {
	float: right;
}
