.wp-block-lez-library-private-note {
	color: #856404;
	border: 1px #f00;
	background-color: #ffeeba;
	padding: .5rem;
	.editor-inner-blocks {
		margin: 0 24px;
	}
	.editor-block-list__block {
		color: #856404;
	}
}
